{% extends "layout.html" %} {# ele vai carregar o layoiut.html antes de enviar a pagina 
por isso é necessário tirar tudo o que se repete do código e deixar somente as particularidades
de cada pagina #}

{# Variável que será passada quando for chamada no layout #}
{% set pageId = "page-home" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}
    
{% block content %}
    <div class="content">
        <header>
            <img src="/icones/logo.svg" alt="Logomarca"><!--alt serve como alternativa escrita para a imagem-->
            <a href="create">
                <span></span>
                Cadastre um ponto de coleta
            </a>
        </header>

        <main>
            <h1>{{title}}</h1>
            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
            <a href="#"> <span></span> <strong>Pesquisar pontos de coleta</strong></a>
        </main>

    </div>
{% endblock content %}

{% block modals %}
    {# Ele ta incluindo um arquivo inteiro nessa parte se tiver dentro de um bloco #}
    {% include "partials/modal.html" %}
{% endblock modals %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}

