body{
    background: rgb(110, 110, 233);
    font: normal 15pt Arial;
    text-align: center;
}
header{
    color: white;
}
section{
    background: white;
    border-radius: 10px;
    width: 500px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div{
    text-align: center;
    padding: 8px;
}
h1{
    color: aqua;

}