#page-create-point {
    /*
    Alinhamento de caixa pelo lado de fora:
    A margem de 90% significa que não poderá utilizar a tela todas de uma vez.
    Daremos tambem um maximo de comprimento para a tela parar de expadir.
    */
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header {
    /*
    Aqui eu defini as caracterisicas exclusivas da barra superior
    */
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

#page-create-point header a span{
    /*
    Passa a imagem para dentro do span
    */
    background-image: url('../icones/arrow-left.svg');
    display: flex;

    width: 20px;
    height: 24px;
    margin-right: 16px;
}

form {
    /*Preenchimento
        É natural que a caixa se extenda quando se coloca um padding
        e um tamanho fixo, para mudar isso usamos o box-sizing;
    */
    background-color: white;
    margin: 80px auto;
    padding: 64px;
    
    border-radius: 8px;

    max-width: 730px;
    box-sizing: border-box;

}

form h1{
    font-size: 36px;
}
form fieldset{
    margin-top: 64px;
    border: 0;
}
form legend{
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
form legend h2{
    font-size: 24px;
}
form legend span{
    font-size: 14px;
    color: var(--title-color);
}
form .field{
    /* flex: 1; -> faz os campos preencherem toda a linha*/
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group{
    display: flex;
}

form input, 
form select {
    background-color: #f0f0f5;
    
    border: none;
    padding: 16px 24px;

    border-radius: 8px;
} 

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field{
    /* Essa forma de seleção está fazendo somente no
    segundo campo */
    margin-left: 24px;
}

form button{
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;
    margin-top: 40px;

    /* transition é aplicado a todas as propriedasdes que aceitam */
    transition: background-color 400ms;

}

form button:hover{
    background-color: #2fb86e;
}

.items-grid{
    /* Para o grid nós temos propriedas particulares
    como o "gap" que é de espaçamento */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li {
    /* list-style = tira os pontos da lista 
    cursor: pointer; é responsavel pela "maozinha" do mouse*/
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height: 180px;
    padding: 32px 24px 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

.items-grid li span{
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected{
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img, 
.items-grid li span{
    pointer-events: none;
}